DATABASE_URL=postgresql://postgres.ifalshmmhnnpdnytsigg:[YOUR-PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.ifalshmmhnnpdnytsigg:[YOUR-PASSWORD]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
SECRET_KEY=changethisinsecretproductionkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REDIS_URL=redis://localhost:6379/0
USE_CELERY=false
GEMINI_API_KEY=your-gemini-api-key
